/*! please don't look in here, I know it's an absolute mess, do not expect to find anything in any kind of order. It just works like this so I won't touch anything in this damn css */

* {
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  margin-top: 10rem;
  justify-self: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 12px;
  border-bottom: 1px solid rgba(80, 80, 122, 0.607);
  background-color: #292929;
}

.navbar h1 {
  margin-right: 12px;
}

.nav-right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.nav-account-button {
  background: none;
  padding: 0px;
  display: flex;
  transition: 0.5s;
  box-shadow: none;
}

.nav-account-button:hover {
  transform: rotate(360deg);
}

.nav-account-icon {
  width: 2rem;
  border-radius: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.dropdown-menu button {
  background: none;
  color: black;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu button:hover {
  background-color: #e0e0e0;
}

.mainPage-SelectPuzzle-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.mainSection-button-container {
  box-sizing: border-box;
  background-image: url('chessImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  padding: 6px;
  margin: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s ease-in-out;
  box-shadow: 5px 5px 16px rgb(0, 0, 0);
}

.mainSection-button-container:hover {
  transform: scale(1.02);
}

.main-upperSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 64px;
  gap: 12px;
}

.main-upperSection p {
  font-weight: 300;
  font-size: large;
}

.solvedPuzzlesAmount {
  font-weight: bold;
  color: red;
}

/*? Chess Puzzle */

.puzzle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 4%;
}

.button-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px;
  padding: 12px;
  border-radius: 16px;
  gap: 12px;
  border: 2px solid rgb(206, 205, 205);
}

.util-buttons {
  background-color: rgba(43, 139, 223, 0.727);
  color: white;
}

.whoToMove {
  font-weight: bold;
  margin: 12px;
}

/*? account section*/

.account-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 12px;
  background-color: rgb(45, 46, 48);
  border-radius: 6px;
  margin: 32px;
}

.logout-button {
  background-color: rgba(219, 165, 95, 0.575);
}

.delete-button {
  background-color: rgba(151, 51, 51, 0.678);
}

.logout-button,
.delete-button {
  width: 200px;
  color: white;
}

/*? FOOTER */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex: 1 1 auto;
  min-width: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #272729d5;
  gap: 24px;
  margin-top: 24px;
}

.side-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.footer-icon {
  width: 50px;
}

.swal-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}


/*? Privacy */

.privacy_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 800px;
  margin: auto;
  padding: 12px;
}

.invalid-move {
  animation: shake 0.3s;
  border: 3px double red;
}

@keyframes shake {
  0% {
    transform: translate(1px, 0);
  }

  25% {
    transform: translate(-1px, 0);
  }

  50% {
    transform: translate(1px, 0);
  }

  75% {
    transform: translate(-1px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}


/*? Settings site*/

.settings-content-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.util-settings-container label {
  font-size: 1rem;
  margin-right: 6px;
}

.util-settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 24px;
  padding: 8px;
  border-bottom: 2px dotted gray;
}

@media screen and (max-width: 607px) {
  .navbar h1 {
    font-size: 20px;
  }

  .nav-right-section {
    gap: 12px;
  }

  .util-settings-container {
    flex-direction: column;
    gap: 12px;
  }

}

@media screen and (max-width: 476px) {
  .navbar h1 {
    display: none;
  }

  .navbar {
    justify-content: center; 
  }

  .nav-right-section {
    gap: 32px;
  }

  .main-upperSection {
    margin: 32px;
  }

  .puzzle-container {
    margin-top: 64px;
  }

}

@media screen and (max-width: 374px) {
  .puzzle-container {
    margin-top: 100px;
  }
}