:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}

html, body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  color: white;
}

a {
  font-weight: 500;
  color: #39b7dd;
  text-decoration: inherit;
}

a:hover {
  color: #53a8f2;
}


button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 8px 4px 20px rgba(0, 0, 0, 0.43);
}

button:hover {
  filter: saturate(2);
}

.button-as-link {
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
  color: #39b7dd;
}

.button-as-link:hover {
  color: #53a8f2;
}

.custom-button {
  border-radius: 4px;
  padding: 0.4em 1em;
  max-height: 80px;
}


#green-button {
  background-color: rgba(64, 199, 64, 0.74);
}
/* Background */

.gradient {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}
